---
layout: secondary-nav
title: Accessibility
nav: general-info
active: Accessibility
subnav:
- name: 'Contact'
  url: '#contactus'
- name: 'Quiet Room'
  url: '#quietroom'
- name: 'Conference Platform'
  url: '#platform'
- name: 'For Presenters'
  url: '#presenters'
- name: 'For Attendees'
  url: '#attendees'  
---

<section class="general-info">
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-header">
				<h1>Accessibility</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
            <h2 id="contactus">Contact</h2>
            <p>Contact <a href="mailto:{{site.data.conf.accessibility-email}}">{{site.data.conf.accessibility-email}}</a> with any questions or concerns related to the conference's accessibility.</p>
		</div>
	</div>
	
    {% if site.data.conf.quiet-room.show %}
	<div class="row">
		<div class="col-12">
            <h2 id="quietroom">Quiet Room</h2>
            <p>
               From Tuesday to Friday a quiet room will be available at the conference hotel,
               located in the Zinfandel Room on the second floor (accessible via elevator). The purpose of this room is to provide a quiet space so that attendees can take a mental or physical break from the many goings on. The room is open to all attendees during the conference hours.
            </p>
            <p>
               If you use the Quiet Room, we ask you to abide by the following rules:
            </p>
            <ul>
               <li>  The quiet space is not for private discussions or meetings. Any talking should be brief and kept to a whisper.</li>
               <li>  While in the room, please turn off or silence any electronics, especially cellphones. This is not a space to make phone calls,
                     catch up on emails, or otherwise do work. This is a space to relax.
               </li>
               <li>  If you want to listen to music, watch a video, etc., please wear headphones and keep the volume low. If someone asks you
                     to further turn down the volume, please do so.
               </li>
               <li>  Personal belongings should not be left unattended.</li>
               <li>  Please leave the space in the same condition (or better) as you found it.</li>
               <li>  Food and drink is permitted but avoid noisy foods or anything with strong odors. </li>
               <li>  We will generally keep the lights as low as possible while maintaining a safe space.</li>
               <li>  Above all, respect your fellow conference goers in this space so that all of you can find a bit of quiet.</li>
            </ul>
		</div>
	</div>
            {% else %}
            {% comment %} remove from secondary nav (jQuery not yet on page) {% endcomment %}
            <script>document.querySelector('.secondarynav a[href="#quietroom"]').parentElement.remove()</script>
            {% endif %}
		
	<div class="row">
		<div class="col-12">
            <h2>Live Captioning</h2>
            <p>
				During the general conference, Code4Lib {{site.data.conf.year}}  will feature 2020 Captioning for live captioning. In order to improve the quality of this service, we ask everyone to <span class="font-weight-bold">speak slowly and clearly</span> so the Captioning service is able to accurately capture what you say.
				{% if site.data.conf.closed-captioning.show %}
				Attendees, both local and remote, may view the text stream at:
               <a href="{{site.data.conf.closed-captioning.url}}">{{site.data.conf.closed-captioning.url}}</a>.
				{% endif %}
				Sessions which were recorded before the conference will include captions as well.<br/>
				<strong>Note:</strong> Do not use any built-in captioning options (such as Google Slides captioning or Microsoft Translator) while recording your presentation, as it will interfere with the automated captioning the conference will be using.
            </p>
		</div>
	</div>
	
	<div class="row">
		<div class="col-12">
			<h2 id="platform">Conference Platform Accessibility</h2>
			<p> 
				Code4Lib 2021 will be using Whova as the conference platform. In general, the platform is accessible, but it is missing landmarks and headers on pages. You can <a href="https://github.com/terrill/whova-a11y-fix">install a userscript</a> in your browser (Tampermonkey for Chrome or Greasemonkey for Firefox) that will create landmarks and headers. The userscript is not available for Safari. For assistance, contact <a href="mailto:{{site.data.conf.accessibility-email}}">{{site.data.conf.accessibility-email}}</a>. 
			</p>
		</div>
	</div>
	
	<div class="row">
		<div class="col-12">
			<h2 id="presenters">Accessibility Instructions for Presenters</h2>
            <p>
                All presenters should please review these accessibility requirements and presentation logistics. Make note of the three action items for your talk(s).
            </p>
			<ul>
				<li class="actions-list">
					<span class="h3 subsection">Action 1: Submit Video Recording and Slides Early</span>
					<p>
					Code4Lib {{site.data.conf.year}} will feature Zoom’s AI captioning during the conference. In order to improve the quality of this service, we ask presenters to <span class="font-weight-bold">speak slowly and clearly</span> so the AI Captioning service is able to accurately capture what you say. Also, upload the slides to the <a href="{{site.data.conf.slides.url}}">Code4Lib {{site.data.conf.year}} repository</a> so that the post-event video editors can use them as reference and improve the quality of the final video.
					</p>
					<!---
					{% if site.data.conf.slides.show %}
					<p>
					Please submit your slides to the <a href="{{site.data.conf.slides.url}}">Code4Lib {{site.data.conf.year}} repository</a>
					or to {{site.data.conf.slides.contact}} (<a href="mailto:{{site.data.conf.slides.email}}?Subject=Code4Lib%20Slides">{{site.data.conf.slides.email}}</a>
					at least 48 hours before your presentation (the earlier the better).
					</p>
					{% endif %}
					--->
				</li>
				
				<li class="actions-list">
					<span class="h3 subsection">Action 2: Design an Accessible Presentation</span>
					<p>
					Presenters are encouraged to use the following guidelines to ensure that their presentations are visually accessible to attendees in an online environment. <a href="https://wiki.diglib.org/Creating_Accessible_and_Interactive_Online_Presentations">More detailed information on creating accessible online presentations is available from the Digital Library Federation</a>. You can also view these guidelines in action on the <a href="https://docs.google.com/presentation/d/1sxPtrkJOCTP6Gw6GD3rQuiFSyJfuXfz8ZToWMo1ygaQ/edit?usp=sharing">Google Slides Sample Presentation</a>, which uses the conference template.
					</p>
			
					<span class="h4 list-heading subsection">Basic Slide Design</span>
					<ul>
						<li>
							Use an easy-to-read font. Suggested fonts include: Helvetica and its clones (Arial, Calibri, etc.), Gill Sans, Comic Sans (seriously!), Verdana, Franklin Gothic, Rockwell, Tahoma, Lucida, and Times New Roman.
						</li>
						<li>
							Try to minimize the amount of text on each slide. Use bullet points instead of full paragraphs. Limit your slides to 1 main idea and 3 supporting ideas per slide.
						</li>
						<li>Aim for a font size of 20-30 point. Generally, do not go below 24-point for slide content.</li>
						<li>
							Choose text and background colors that have good contrast and are easy to read, such as black/white, white/dark blue, yellow/black, off-white/black. You can <a href="http://webaim.org/resources/contrastchecker/">use a contrast checker</a> to check for good contrast, or the <a href="https://projects.susielu.com/viz-palette">Viz Palette Designer to select color palettes</a>.
						</li>
						<li>
							Leave space at the bottom of the slides for the live captioning to appear (usually about ¼ the overall size of the slide). There should be no important text in this area.
						</li>
						<li>
							If you will have your camera on during your slides, it’s suggested that you leave a corner of your slides free of important text, so that your presenter image doesn’t cover up anything.
						</li>
						
						<li>
							<a href="{{site.data.conf.slide-template.url}}">Use the C4L 2021 Template to produce an accessible slide presentation</a> (Microsoft PowerPoint), which already incorporates all the above issues, including space for live captioning and the camera view.
						</li>
						
					</ul>
				
					<span class="h4 list-heading subsection">Graphs and Charts</span>
					<ul>
						<li>
							Use the built-in options for creating charts and graphs instead of using an image or screencap, so that a person using assistive technology can access the data.
						</li>
						<li>
							For color blindness considerations, add patterns or labels in graphs and charts, or use the <a href="https://projects.susielu.com/viz-palette">Viz Palette Designer</a> to select sight-friendly color palettes. 
						</li>
					</ul>
			
					<span class="h4 list-heading subsection">Images/Videos/Animations</span>
					<ul>
						<li>Avoid blinking text and animations that endlessly repeat.</li>
						<li>
							If your presentation features lots of animations, videos, etc., please include a warning at the start of your talk. This is especially needed if any contain lots of flicker.
						</li>
						<li>Be mindful of progressing quickly back and forth through slides, to reduce flicker.</li>
						<li>If a video contains sound or dialogue, please try to use a version with captioning.</li>
						<li>
							Include Alt text for all images in the slides you upload to the repository. WebAIM has useful information about <a href="https://webaim.org/techniques/alttext/">alt text and how to write it</a>.
						</li>
						<li>While presenting, describe any images, and give a descriptive introduction for a video.</li>
					</ul>
			
					<span class="h4 list-heading subsection">Sharing Slides</span>
					<ul>
						<li>
							Participants are encouraged to share their slides. If placed on the web, please include a short link in your opening slides for attendees to view on their personal machines.
						</li>
						<li>Include speaker notes with your files if the file format allows. In particular, describe any images, tables, charts, etc. in the notes.</li>
						<li>
							It’s easier to make your original presentation slides accessible than it is to produce an accessible PDF of your slides. Please see <a href="http://webaim.org/techniques/powerpoint/">PowerPoint</a> and <a href="https://www.swarthmore.edu/sites/default/files/assets/documents/academic-advising-support/Accessible%20Presentations.pdf">KeyNote</a> accessibility advice, as well as <a href="https://support.google.com/docs/answer/6199477?hl=en">Google Slides accessibility pages</a>. 
						</li>
					</ul>
					
					<span class="h4 list-heading subsection">Supplemental Materials</span>
					<ul>
						<li>Use the built-in accessibility checker for any supplemental materials you want to include with your presentation.</li>
						<li>When possible, do not use PDF. Make materials available in their original format (Word, txt, Excel, etc.) to ensure their accessibility.</li>
					</ul>
				</li>
				<p>&nbsp;</p>
				<li class="actions-list subsection">
					<span class="h3 subsection">Action 3: Be inclusive in your presentation</span>
					Please follow the <a href="/conduct/">Code of Conduct</a> during any interaction with others at the conference. 
					<ul>
						<li>
							If your presentation is interactive, tell the audience at the start what you will be doing (“I will ask you to write down some thoughts multiple times during the presentation, so please get a pen and paper now,” or “I’ll give you 1 minute to fill out this poll”), and actually give them enough time to complete the work.
						</li>
						<li>
							Presenters should use an external unidirectional microphone or headset with mic. This will cut down on external noises (people  talking, computer fan noises, etc.) and make it easier for live captioning. Make sure the mic is directly in front of your mouth to ensure the best audio capture. 
						</li>
						<li>
							Please <span class="font-weight-bold">speak slowly and clearly</span>, like a newscaster, to make it easier for the AI captioning (and audience) to understand you.
						</li>
						<li>
							If you are answering questions from the chat, read the question out loud and credit the person asking it (unless you are taking anonymous questions). 
						</li>
						<li>
							If you are using acronyms or jargon, please state the full name, followed by the acronym spelling (for example, “American Broadcasting Company, ABC”) or definition the first time you reference it. You can also explain them in your speaker notes or on the slides of the presentation to make it clear to the audience as well. (When in doubt, assume it’s jargon!)
						</li>
						<li>
							Describe images to the audience as you present, and give a brief description of a video before you play it if it has no captions. 
						</li>
						<li>
							Instead of asking your audience to read a slide, read it aloud to them instead (the audience may have a very small screen, or may not be able to see the slides). 
						</li>
						<li>Read aloud any URLs to the audience. Use a URL shortener like <a href="https://tinyurl.com/">tinyurl</a> or <a href="https://bitly.com/">bit.ly</a> to make it easier. </li>
						<li>If you are using a script, share it with the live captioner prior to your presentation.</li>
						<li>If you are using a script, please submit the script with the recording so it can be shared with the audience.</li>
					</ul>
				</li>
			</ul>	
		</div>
	</div>
	
	{% if site.data.conf.quiet-room.show %}
	<div class="row">
		<div class="col-12">
			<h2>Use the Microphone</h2>
            <p> The single greatest act you can to do to promote accessibility at Code4Lib {{site.data.conf.year}} is to
                <span class="font-weight-bold">use the microphone</span>. It doesn't matter if you think you are loud or
                you can project, you should use the microphone. It benefits everyone:
            </p>
            <ul>
               <li>When a speaker uses the mic properly, you all hear them better. </li>
               <li>When you ask a question with a mic, the speaker and everyone else hears your question. </li>
               <li>Using the mic ensures everyone livestreaming or watching recorded talks can share the C4L experience. </li>
               <li>Using the mic improves the quality of the live captioning feed.</li>
            </ul>
			
			<li class="actions-list">
				<span class="h3">Microphone Tips for Presenters</span>
				<ul>
					<li>For both a podium mic and one on a stand, it should point towards your mouth. Adjust the height
						of the mic and angle its neck to point towards your mouth and nose.
					</li>
					<li>You should place your mouth about 8-10 inches (20-25cm or two hand widths) away from the mic. You can get closer but you may find that it limits your natural movement.
					</li>
					<li>If you move around the podium at all, you should adjust the mic as you move. You should always
						be talking directly at the head of the mic from the front. Never to the side.
					</li>
					<li>If you are copresenting, you need to make sure the mic points at the speaker. Use the second
						mic on stage or adjust it to point at who is speaking. Standing side by side with the mic in
						the middle is not as effective as you may think.
					</li>
				</ul>
			</li>
			
			<li class="actions-list">
				<span class="h3">Using a Handheld Mic</span>
				<ul>
					<li>The line of the microphone should always point towards your mouth and nose. Do not hold it
						like an ice cream cone. Hold it more like a candy bar or at a 45 degree angle.
					</li>
					<li>If you turn your head, the mic should also turn so that it stays pointed at your mouth.</li>
					<li>You should hold the mic 5-8 inches (15-20cm) from your mouth.</li>
					<li>Hold the mic firmly. Any shaking may be picked up and effect your voice quality.</li>
					<li>If the mic is not working, wait for staff to offer a replacement or fix it. Do not
                   just try yelling.
					</li>
				</ul>
			</li>
		</div>
	</div>
	{% endif %}
	
	<div class="row">
		<div class="col-12">
			<h2 id="attendees">Accessibility Instructions for Attendees</h2>
			<ul>
				<li>
					If you plan on speaking during the conference, make sure you have a good quality microphone or a headset with a microphone to ensure that the live captioner and the speakers can hear and understand you. Any live events (except the breakout sessions) will be live captioned. 
				</li>
				<li>Keep your microphone and camera off unless you are asked to unmute either.</li>
				<li>Speak slowly and clearly for the automated captioning. </li>
			</ul>
		</div>
	</div>
		
	<div class="row">
		<div class="col-12">
			<h2 id="contactus">Contact</h2>
            <p>Contact <a href="mailto:{{site.data.conf.accessibility-email}}">{{site.data.conf.accessibility-email}}</a> with any questions or concerns related to the conference's accessibility.</p>
        </div>
    </div>
</div>
</section>
