/* ==========================================================================
   Sections
   ========================================================================== */

section {
  min-height: 200px;
  padding: 2em 0;
  &.welcome {
    min-height: 0px;
  }
}

section:nth-of-type(3n+1) {
  background-color: $body-bg;
  color: $text-color;
}

section:nth-of-type(3n+2) {
  border-top: 2px solid $crayola-pink;
  border-bottom: 2px solid $crayola-pink;
}

section:nth-of-type(3n+3) {
  background: $section-3-bg;
  color: $section-3-color;

  a {
    color: $section-3-link;

    &:hover,
    &:focus,
    &:active {
      color: $section-3-hover;
    }
  }
}

/* ==========================================================================
   General Info
   ========================================================================== */

section .general-info {
  background: none;
  //color: $gray-base;
  li.actions-list {
      list-style: none;
  }
  li.actions-list span.subsection {
      display: block;
      margin-bottom: 16px;
  }
  .list-heading {
      margin-top: 16px;
  }
}

section .general-info a {
  &:not(.thumbnail):not(.btn) {
    @include link-styles;

    &:hover,
    &:focus,
    &:active {
      @include link-styles-states;
    }
  }
}

section .social-event {
    padding: 0em;
    min-height: 0px;
    margin-bottom: 30px;
}

section .social-event-details {
    margin-left: 15px;
}