---
layout: default
title: Schedule
---

<div class="container">
    <div class="row">
        <h1 class="sr-only">Schedule</h1>

        <div class="btn-group mx-auto" role="group" aria-label="choose your time zone">
            <button type="button" class="btn btn-outline-light active" id="toLocal" onclick="toLocal()">To Your Local
                Time </button>
            <button type="button" class="btn btn-outline-light active" id="toEastern" onclick="toEastern()">Eastern
                Time</button>
            {% capture local_diff %} <span id="time-diff"></span>{% endcapture %}
        </div>
        <div class="col-12 sched-date">
            <h2>{{site.data.conf.days[0].weekday}}, {{site.data.conf.days[0].date}}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-3 text-right">
            <h3><span id="first-start-time"></span> - <span id="first-end-time"></span></h3>
        </div>
        <div class="col-12 col-md-9 sched-well">
            <h4><a href="/schedule/day-1">General Conference, Day One</a></h4>
            <p>
                Keynote #1 kicks off the conference. Talks will be selected by the community.
            </p>
        </div>
    </div>

    {% if site.data.conf.newcomer-dinner.show %}
    <div class="row">
        <div class="col-12 col-md-3 text-right">
            <h3>Evening</h3>
        </div>
        <div class="col-12 col-md-9 sched-well">
            <h4><a href="/general-info/venues/#dinner">Newcomer Dinner</a></h4>
            <p>
                It is a Code4Lib tradition to welcome those who are new to the conference
                by organizing dinner groups on the night before the general conference begins.
                Sign-up is organized by the <a
                    href="https://wiki.code4lib.org/Code4Lib_{{site.data.conf.year}}_Conference_Committees#Social_Activities_Committee">Social
                    Activities Committee</a>
                on the wiki, and we try to mix a few newcomers with a few veterans
                who can offer an informal introduction to the conference. Great for making
                new friends!
            </p>
            <p class="text-danger"><strong>Note: <a href="https://www.timeanddate.com/time/change/usa">Daylight Savings
                        Time</a> begins tonight! Don't forget to set your clocks ahead an hour tonight.</strong></p>
            {% if site.data.conf.newcomer-dinner.signup-url != '' %}
            <p>
                <a class="btn btn-warning" href="{{ site.data.conf.newcomer-dinner.signup-url }}">Sign-up for the
                    Newcomer Dinner</a>
            </p>
            {% endif %}
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-12 sched-date">
            <h2>{{site.data.conf.days[1].weekday}}, {{site.data.conf.days[1].date}}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-3 text-right">
            <h3><span id="second-start-time"></span> - <span id="second-end-time"></span></h3>
        </div>
        <div class="col-12 col-md-9 sched-well">
            <h4><a href="/schedule/day-2">General Conference, Day Two</a></h4>
            <p>
                Talks will be selected by the community.
            </p>
        </div>
    </div>

    {% if site.data.conf.reception.show %}
    <div class="row">
        <div class="col-12 col-md-3 text-right">
            <h3>{{ site.data.conf.reception.times }}</h3>
        </div>
        <div class="col-12 col-md-9 sched-well">
            <a href="/general-info/venues/#reception">
                <h4>Reception</h4>
            </a>
            <p>
                All attendees are invited to join us for the reception at the {{ site.data.conf.reception.venue }}. See
                the <a href="/general-info/venues/#reception" alt="Venues">Venues</a> page for more details.
            </p>
            {%- comment %}
            <p>
                <a class="btn btn-warning" href="/schedule/food/day1-menus.html#Reception">View the menu</a>
            </p>
            {% endcomment -%}
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-12 sched-date">
            <h2>{{site.data.conf.days[2].weekday}}, {{site.data.conf.days[2].date}}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-3 text-right">
            <h3><span id="third-start-time"></span> - <span id="third-end-time"></span></h3>
        </div>
        <div class="col-12 col-md-9 sched-well">
            <h4><a href="/schedule/day-3">General Conference, Day Three</a></h4>
            <p>
                Talks selected by the community.
            </p>
        </div>
    </div>

    {% if site.data.conf.libtech-women.show %}
    <div class="row">
        <div class="col-12 col-md-3 text-right">
            <h3>{{site.data.conf.libtech-women.time}}</h3>
        </div>
        <div class="col-12 col-md-9 sched-well">
            <h4>
                {% if site.data.conf.libtech-women.url %}
                <a href="{{site.data.conf.libtech-women.url}}">
                    {% endif %}
                    LibTech Women
                    {% if site.data.conf.libtech-women.url %}</a>{% endif %}
            </h4>
            <p>
                <a href="http://libtechwomen.org/">LibTechWomen</a> is a supportive space for women and their friends to
                network, develop skills, build confidence, and lead positive change. Are you a lurker? Are you a
                newcomer? All are welcome! Come meet wonderful colleagues in library technology{%- if
                site.data.conf.game-night.location -%}
                &nbsp;at {{site.data.conf.game-night.location}}
                {%- endif -%}!
            </p>
        </div>
    </div>
    {% endif %}

    {% if site.data.conf.game-night.show %}
    <div class="row">
        <div class="col-12 col-md-3 text-right">
            <h3>{{site.data.conf.game-night.time}}</h3>
        </div>
        <div class="col-12 col-md-9 sched-well">
            <h4>
                {% if site.data.conf.game-night.url %}
                <a href="{{ site.data.conf.game-night.url }}">
                    {% endif %}
                    Game Night
                    {% if site.data.conf.game-night.url %}</a>{% endif %}
            </h4>
            <p>
                Play games? Come join your fellow code4libers in a few board or card games{%- if
                site.data.conf.game-night.location -%}
                &nbsp;at {{site.data.conf.game-night.location}}
                {%- endif -%}! Feel free to bring your own games as well.
                See the <a target="blank" href="{{ site.data.conf.game-night.url }}">
                    sign up list on the Social Activities wiki</a> to list any games you might bring with you.
            </p>
        </div>
    </div>
    {% endif %}

    {% if site.data.conf.karaoke-night.show %}
    <div class="row">
        <div class="col-12 col-md-3 text-right">
            <h3>{{site.data.conf.karaoke-night.time}}</h3>
        </div>
        <div class="col-12 col-md-9 sched-well">
            <h4>
                {% if site.data.conf.karaoke-night.url %}
                <a href="{{ site.data.conf.karaoke-night.url }}">
                    {% endif %}
                    Karaoke Night
                    {% if site.data.conf.karaoke-night.url %}</a>{% endif %}
            </h4>
            <p>
                We also have Karaoke night for those who would like to share your passions in singing, or just hangout
                with friendly folks.
                {% if site.data.conf.karaoke-night.url %}
                <a target="blank" href="{{ site.data.conf.karaoke-night.url }}">Sign up as groups and head over to the
                    lounge at the DIY Events</a>
                {% endif %}.
            </p>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-12 sched-date">
            <h2>{{site.data.conf.days[3].weekday}}, {{site.data.conf.days[3].date}}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-3 text-right">
            <h3><span id="fourth-start-time"></span> - <span id="fourth-end-time"></span></h3>
        </div>
        <div class="col-12 col-md-9 sched-well">
            <h4><a href="/schedule/day-4">General Conference, Day Four</a></h4>
            <p>
                Keynote #2 closes out the conference. Talks have been selected by the community.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 sched-date">
            <h2>{{site.data.conf.days[4].weekday}}, {{site.data.conf.days[4].date}}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-3 text-right">
            <h3><span id="fifth-start-time"></span> - <span id="fifth-end-time"></span></h3>
        </div>
        <div class="col-12 col-md-9 sched-well">
            <h3><a href="/workshops">Postconference Workshops</a></h3>
            <p>
                Postconference details are available
                {% if site.data.registration.workshop-only.url.size > 0 %}
                on the <a href="{{site.data.registration.workshop-only.url}}">registration site</a> and
                {% endif %}
                on the <a href="/workshops">Postconference Workshops</a> page.
            </p>
        </div>
    </div>

    {% comment %}
    <!-- BoF hangouts section, move to right date/time -->
    <div class="row">
        <div class="col-12 col-md-3 text-right">
            <h3>Afternoon</h3>
        </div>
        <div class="col-12 col-md-9 sched-well">
            <h4>Birds-of-a-Feather Hangouts?</h4>
            <p>
                The general conference is over, but if you have a bunch of inspired nerds with common interests in one
                spot, why not organize a little hackfest or meetup? You are on your own to organize at this point, but
                feel free to contact the
                <a href="http://wiki.code4lib.org/2017_Conference_Committees#Local_Planning_Committee">Local Planning
                    Committee</a> if you would like assistance securing space.
            </p>
        </div>
    </div>
    {% endcomment %}

</div>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<script>
    // https://apidock.com/ruby/DateTime/strftime
    function toEastern() {
        $('button#toEastern').addClass('active');

        if($('button#toLocal').hasClass('active')){
            $('button#toLocal').removeClass('active')
        }

        $('#first-start-time').text('{{site.data.conf.days[0].eastern-time-start | date: "%l:%M %p"}}');
        $('#first-end-time').text('{{site.data.conf.days[0].eastern-time-end | date: "%l:%M %p"}}');
        $('#second-start-time').text('{{site.data.conf.days[1].eastern-time-start | date: "%l:%M %p"}}');
        $('#second-end-time').text('{{site.data.conf.days[1].eastern-time-end | date: "%l:%M %p"}}');
        $('#third-start-time').text('{{site.data.conf.days[2].eastern-time-start | date: "%l:%M %p"}}');
        $('#third-end-time').text('{{site.data.conf.days[2].eastern-time-end | date: "%l:%M %p"}}');
        $('#fourth-start-time').text('{{site.data.conf.days[3].eastern-time-start | date: "%l:%M %p"}}');
        $('#fourth-end-time').text('{{site.data.conf.days[3].eastern-time-end | date: "%l:%M %p"}}');
        $('#fifth-start-time').text('{{site.data.conf.days[4].eastern-time-start | date: "%l:%M %p"}}');
        $('#fifth-end-time').text('{{site.data.conf.days[4].eastern-time-end | date: "%l:%M %p"}}');
    }

    function toLocal() {
        $('button#toLocal').addClass('active');
        
        if($('button#toEastern').hasClass('active')){
            $('button#toEastern').removeClass('active')
        }

        var diff = (new Date()).getTimezoneOffset() / 60 - 5;
        diff = 3; // This is a test. Remove it in production.

        $('#time-diff').text(diff);

        function ampm(e) {
            return (e) > 11 ? 'PM' : 'AM';
        }

        var firstStartHour = parseInt('{{site.data.conf.days[0].eastern-time-start | date: "%k"}}') - diff;
        var firstStartMinute = '{{site.data.conf.days[0].eastern-time-start | date: "%M"}}';
        var firstEndHour = parseInt('{{site.data.conf.days[0].eastern-time-end | date: "%k"}}') - diff;
        var firstEndMinute = '{{site.data.conf.days[0].eastern-time-end | date: "%M"}}';
        $('#first-start-time').text(firstStartHour + ":" + firstStartMinute + " " + ampm(firstStartHour));
        $('#first-end-time').text(firstEndHour + ":" + firstEndMinute + " " + ampm(firstEndHour));

        var secondStartHour = parseInt('{{site.data.conf.days[1].eastern-time-start | date: "%k"}}') - diff;
        var secondStartMinute = '{{site.data.conf.days[1].eastern-time-start | date: "%M"}}';
        var secondEndHour = parseInt('{{site.data.conf.days[1].eastern-time-end | date: "%k"}}') - diff;
        var secondEndMinute = '{{site.data.conf.days[1].eastern-time-end | date: "%M"}}';
        $('#second-start-time').text(secondStartHour + ":" + secondStartMinute + " " + ampm(secondStartHour));
        $('#second-end-time').text(secondEndHour + ":" + secondEndMinute + " " + ampm(secondEndHour));

        var thirdStartHour = parseInt('{{site.data.conf.days[2].eastern-time-start | date: "%k"}}') - diff;
        var thirdStartMinute = '{{site.data.conf.days[2].eastern-time-start | date: "%M"}}';
        var thirdEndHour = parseInt('{{site.data.conf.days[2].eastern-time-end | date: "%k"}}') - diff;
        var thirdEndMinute = '{{site.data.conf.days[2].eastern-time-end | date: "%M"}}';
        $('#third-start-time').text(thirdStartHour + ":" + thirdStartMinute + " " + ampm(thirdStartHour));
        $('#third-end-time').text(thirdEndHour + ":" + thirdEndMinute + " " + ampm(thirdEndHour));

        var fourthStartHour = parseInt('{{site.data.conf.days[3].eastern-time-start | date: "%k"}}') - diff;
        var fourthStartMinute = '{{site.data.conf.days[3].eastern-time-start | date: "%M"}}';
        var fourthEndHour = parseInt('{{site.data.conf.days[3].eastern-time-end | date: "%k"}}') - diff;
        var fourthEndMinute = '{{site.data.conf.days[3].eastern-time-end | date: "%M"}}';
        $('#fourth-start-time').text(fourthStartHour + ":" + fourthStartMinute + " " + ampm(fourthStartHour));
        $('#fourth-end-time').text(fourthEndHour + ":" + fourthEndMinute + " " + ampm(fourthEndHour));

        var fifthStartHour = parseInt('{{site.data.conf.days[4].eastern-time-start | date: "%k"}}') - diff;
        var fifthStartMinute = '{{site.data.conf.days[4].eastern-time-start | date: "%M"}}';
        var fifthEndHour = parseInt('{{site.data.conf.days[4].eastern-time-end | date: "%k"}}') - diff;
        var fifthEndMinute = '{{site.data.conf.days[4].eastern-time-end | date: "%M"}}';
        $('#fifth-start-time').text(fifthStartHour + ":" + fifthStartMinute + " " + ampm(fifthStartHour));
        $('#fifth-end-time').text(fifthEndHour + ":" + fifthEndMinute + " " + ampm(fifthEndHour));
    }
    toEastern();
</script>