---
layout: default
title: Schedule
---
<div class="container">
    {% assign time-diff = 'now' | date: "%z" | plus: 500 | divided_by: 100 %}
    <div class="row">
        <h1 class="sr-only">Schedule</h1>
        <div class="btn-group mx-auto" role="group" aria-label="choose your time zone">
            <button type="button" class="btn btn-outline-light" id="toEastern" onclick="toEastern()">Eastern
                Time</button>
            <button type="button" class="btn btn-outline-light" id="toLocal" onclick="toLocal()">Your Local
                Time {{'now'| date: "%Z"}} in 24h</button>
        </div>
    </div>

    <div class="col-12 sched-date">
        <h2>{{site.data.conf.days[0].weekday}}, {{site.data.conf.days[0].date}}</h2>
    </div>
    <div class="row">
        <div class="col-12 col-md-3 text-right">
            <h3 class="d-eastern">{{site.data.conf.days[0].eastern-start | date: "%l:%M %p"}} -
                {{site.data.conf.days[0].eastern-end | date: "%l:%M %p"}}</h3>
            <h3 class="d-local">
                {% assign local-d00-h = site.data.conf.days[0].eastern-start | date: "%k" | plus: time-diff %}
                {% assign local-d00-m = site.data.conf.days[0].eastern-start | date: "%M" %}
                {% assign local-d01-h = site.data.conf.days[0].eastern-end | date: "%k" | plus: time-diff %}
                {% assign local-d01-m = site.data.conf.days[0].eastern-end | date: "%M" %}
                {{local-d00-h}}:{{local-d00-m}} {% if local-d00-h >= 12 %}PM{% else %}AM{% endif %} -
                {{local-d01-h}}:{{local-d01-m}} {% if local-d01-h >= 12 %}PM{% else %}AM{% endif %}
            </h3>
        </div>
        <div class="col-12 col-md-9 sched-well">
            <h4><a href="/schedule/day-1">General Conference, Day One</a></h4>
            <p>
                Keynote #1 kicks off the conference. Talks will be selected by the community.
            </p>
        </div>
    </div>

    {% if site.data.conf.newcomer-dinner.show %}
    <div class="row">
        <div class="col-12 col-md-3 text-right">
            <h3>Evening</h3>
        </div>
        <div class="col-12 col-md-9 sched-well">
            <h4><a href="/general-info/venues/#dinner">Newcomer Dinner</a></h4>
            <p>
                It is a Code4Lib tradition to welcome those who are new to the conference
                by organizing dinner groups on the night before the general conference begins.
                Sign-up is organized by the <a
                    href="https://wiki.code4lib.org/Code4Lib_{{site.data.conf.year}}_Conference_Committees#Social_Activities_Committee">Social
                    Activities Committee</a>
                on the wiki, and we try to mix a few newcomers with a few veterans
                who can offer an informal introduction to the conference. Great for making
                new friends!
            </p>
            <p class="text-danger"><strong>Note: <a href="https://www.timeanddate.com/time/change/usa">Daylight Savings
                        Time</a> begins tonight! Don't forget to set your clocks ahead an hour tonight.</strong></p>
            {% if site.data.conf.newcomer-dinner.signup-url != '' %}
            <p>
                <a class="btn btn-warning" href="{{ site.data.conf.newcomer-dinner.signup-url }}">Sign-up for the
                    Newcomer Dinner</a>
            </p>
            {% endif %}
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-12 sched-date">
            <h2>{{site.data.conf.days[1].weekday}}, {{site.data.conf.days[1].date}}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-3 text-right">
            <h3 class="d-eastern">{{site.data.conf.days[1].eastern-start | date: "%l:%M %p"}} -
                {{site.data.conf.days[1].eastern-end | date: "%l:%M %p"}}</h3>
            <h3 class="d-local">
                {% assign local-d10-h = site.data.conf.days[1].eastern-start | date: "%k" | plus: time-diff %}
                {% assign local-d10-m = site.data.conf.days[1].eastern-start | date: "%M" %}
                {% assign local-d11-h = site.data.conf.days[1].eastern-end | date: "%k" | plus: time-diff %}
                {% assign local-d11-m = site.data.conf.days[1].eastern-end | date: "%M" %}
                {{local-d10-h}}:{{local-d10-m}} {% if local-d10-h >= 12 %}PM{% else %}AM{% endif %} -
                {{local-d11-h}}:{{local-d11-m}} {% if local-d11-h >= 12 %}PM{% else %}AM{% endif %}
            </h3>
        </div>
        <div class="col-12 col-md-9 sched-well">
            <h4><a href="/schedule/day-2">General Conference, Day Two</a></h4>
            <p>
                Talks will be selected by the community.
            </p>
        </div>
    </div>

    {% if site.data.conf.reception.show %}
    <div class="row">
        <div class="col-12 col-md-3 text-right">
            <h3>{{ site.data.conf.reception.times }}</h3>
        </div>
        <div class="col-12 col-md-9 sched-well">
            <a href="/general-info/venues/#reception">
                <h4>Reception</h4>
            </a>
            <p>
                All attendees are invited to join us for the reception at the {{ site.data.conf.reception.venue }}. See
                the <a href="/general-info/venues/#reception" alt="Venues">Venues</a> page for more details.
            </p>
            {%- comment %}
            <p>
                <a class="btn btn-warning" href="/schedule/food/day1-menus.html#Reception">View the menu</a>
            </p>
            {% endcomment -%}
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-12 sched-date">
            <h2>{{site.data.conf.days[2].weekday}}, {{site.data.conf.days[2].date}}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-3 text-right">
            <h3 class="d-eastern">{{site.data.conf.days[2].eastern-start | date: "%l:%M %p"}} -
                {{site.data.conf.days[2].eastern-end | date: "%l:%M %p"}}</h3>
            <h3 class="d-local">
                {% assign local-d20-h = site.data.conf.days[2].eastern-start | date: "%k" | plus: time-diff %}
                {% assign local-d20-m = site.data.conf.days[2].eastern-start | date: "%M" %}
                {% assign local-d21-h = site.data.conf.days[2].eastern-end | date: "%k" | plus: time-diff %}
                {% assign local-d21-m = site.data.conf.days[2].eastern-end | date: "%M" %}
                {{local-d20-h}}:{{local-d20-m}} {% if local-d20-h >= 12 %}PM{% else %}AM{% endif %} -
                {{local-d21-h}}:{{local-d21-m}} {% if local-d21-h >= 12 %}PM{% else %}AM{% endif %}
            </h3>
        </div>
        <div class="col-12 col-md-9 sched-well">
            <h4><a href="/schedule/day-3">General Conference, Day Three</a></h4>
            <p>
                Talks selected by the community.
            </p>
        </div>
    </div>

    {% if site.data.conf.libtech-women.show %}
    <div class="row">
        <div class="col-12 col-md-3 text-right">
            <h3>{{site.data.conf.libtech-women.time}}</h3>
        </div>
        <div class="col-12 col-md-9 sched-well">
            <h4>
                {% if site.data.conf.libtech-women.url %}
                <a href="{{site.data.conf.libtech-women.url}}">
                    {% endif %}
                    LibTech Women
                    {% if site.data.conf.libtech-women.url %}</a>{% endif %}
            </h4>
            <p>
                <a href="http://libtechwomen.org/">LibTechWomen</a> is a supportive space for women and their friends to
                network, develop skills, build confidence, and lead positive change. Are you a lurker? Are you a
                newcomer? All are welcome! Come meet wonderful colleagues in library technology{%- if
                site.data.conf.game-night.location -%}
                &nbsp;at {{site.data.conf.game-night.location}}
                {%- endif -%}!
            </p>
        </div>
    </div>
    {% endif %}

    {% if site.data.conf.game-night.show %}
    <div class="row">
        <div class="col-12 col-md-3 text-right">
            <h3>{{site.data.conf.game-night.time}}</h3>
        </div>
        <div class="col-12 col-md-9 sched-well">
            <h4>
                {% if site.data.conf.game-night.url %}
                <a href="{{ site.data.conf.game-night.url }}">
                    {% endif %}
                    Game Night
                    {% if site.data.conf.game-night.url %}</a>{% endif %}
            </h4>
            <p>
                Play games? Come join your fellow code4libers in a few board or card games{%- if
                site.data.conf.game-night.location -%}
                &nbsp;at {{site.data.conf.game-night.location}}
                {%- endif -%}! Feel free to bring your own games as well.
                See the <a target="blank" href="{{ site.data.conf.game-night.url }}">
                    sign up list on the Social Activities wiki</a> to list any games you might bring with you.
            </p>
        </div>
    </div>
    {% endif %}

    {% if site.data.conf.karaoke-night.show %}
    <div class="row">
        <div class="col-12 col-md-3 text-right">
            <h3>{{site.data.conf.karaoke-night.time}}</h3>
        </div>
        <div class="col-12 col-md-9 sched-well">
            <h4>
                {% if site.data.conf.karaoke-night.url %}
                <a href="{{ site.data.conf.karaoke-night.url }}">
                    {% endif %}
                    Karaoke Night
                    {% if site.data.conf.karaoke-night.url %}</a>{% endif %}
            </h4>
            <p>
                We also have Karaoke night for those who would like to share your passions in singing, or just hangout
                with friendly folks.
                {% if site.data.conf.karaoke-night.url %}
                <a target="blank" href="{{ site.data.conf.karaoke-night.url }}">Sign up as groups and head over to the
                    lounge at the DIY Events</a>
                {% endif %}.
            </p>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-12 sched-date">
            <h2>{{site.data.conf.days[3].weekday}}, {{site.data.conf.days[3].date}}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-3 text-right">
            <h3 class="d-eastern">{{site.data.conf.days[3].eastern-start | date: "%l:%M %p"}} -
                {{site.data.conf.days[3].eastern-end | date: "%l:%M %p"}}</h3>
            <h3 class="d-local">
                {% assign local-d30-h = site.data.conf.days[3].eastern-start | date: "%k" | plus: time-diff %}
                {% assign local-d30-m = site.data.conf.days[3].eastern-start | date: "%M" %}
                {% assign local-d31-h = site.data.conf.days[3].eastern-end | date: "%k" | plus: time-diff %}
                {% assign local-d31-m = site.data.conf.days[3].eastern-end | date: "%M" %}
                {{local-d30-h}}:{{local-d30-m}} {% if local-d30-h >= 12 %}PM{% else %}AM{% endif %} -
                {{local-d31-h}}:{{local-d31-m}} {% if local-d31-h >= 12 %}PM{% else %}AM{% endif %}
            </h3>
        </div>
        <div class="col-12 col-md-9 sched-well">
            <h4><a href="/schedule/day-4">General Conference, Day Four</a></h4>
            <p>
                Keynote #2 closes out the conference. Talks have been selected by the community.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 sched-date">
            <h2>{{site.data.conf.days[4].weekday}}, {{site.data.conf.days[4].date}}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-3 text-right">
            <h3 class="d-eastern">{{site.data.conf.days[4].eastern-start | date: "%l:%M %p"}} -
                {{site.data.conf.days[4].eastern-end | date: "%l:%M %p"}}</h3>
            <h3 class="d-local">
                {% assign local-d40-h = site.data.conf.days[4].eastern-start | date: "%k" | plus: time-diff %}
                {% assign local-d40-m = site.data.conf.days[4].eastern-start | date: "%M" %}
                {% assign local-d41-h = site.data.conf.days[4].eastern-end | date: "%k" | plus: time-diff %}
                {% assign local-d41-m = site.data.conf.days[4].eastern-end | date: "%M" %}
                {{local-d40-h}}:{{local-d40-m}} {% if local-d40-h >= 12 %}PM{% else %}AM{% endif %} -
                {{local-d41-h}}:{{local-d41-m}} {% if local-d41-h >= 12 %}PM{% else %}AM{% endif %}
            </h3>
        </div>
        <div class="col-12 col-md-9 sched-well">
            <h3><a href="/workshops">Postconference Workshops</a></h3>
            <p>
                Postconference details are available
                {% if site.data.registration.workshop-only.url.size > 0 %}
                on the <a href="{{site.data.registration.workshop-only.url}}">registration site</a> and
                {% endif %}
                on the <a href="/workshops">Postconference Workshops</a> page.
            </p>
        </div>
    </div>

    {% comment %}
    <!-- BoF hangouts section, move to right date/time -->
    <div class="row">
        <div class="col-12 col-md-3 text-right">
            <h3>Afternoon</h3>
        </div>
        <div class="col-12 col-md-9 sched-well">
            <h4>Birds-of-a-Feather Hangouts?</h4>
            <p>
                The general conference is over, but if you have a bunch of inspired nerds with common interests in one
                spot, why not organize a little hackfest or meetup? You are on your own to organize at this point, but
                feel free to contact the
                <a href="http://wiki.code4lib.org/2017_Conference_Committees#Local_Planning_Committee">Local Planning
                    Committee</a> if you would like assistance securing space.
            </p>
        </div>
    </div>
    {% endcomment %}

</div>

<script>
    // https://apidock.com/ruby/DateTime/strftime
    function toEastern() {
        $('button#toEastern').addClass('active')
        $('.d-eastern').css('display', 'block')
        $('.d-local').css('display', 'none')
        if ($('button#toLocal').hasClass('active')) {
            $('button#toLocal').removeClass('active')
        }
    }
    function toLocal() {
        $('button#toLocal').addClass('active');
        $('.d-local').css('display', 'block')
        $('.d-eastern').css('display', 'none')
        if ($('button#toEastern').hasClass('active')) {
            $('button#toEastern').removeClass('active')
        }
    }

    toEastern();
</script>