---
layout: secondary-nav
title: Social Activities
nav: general-info
active: Social Activities
subnav:
- name: Game Night
  include: game-night.html
  url: '#game-night'
- name: Karaoke Night
  include: karaoke-night.html
  url: '#karaoke-night'
- name: Trivia Night
  include: trivia-night.html
  url: '#trivia-night'
---

<div class="container-fluid">
    <div class="">
      <h1>Social Activities</h1>

      {% for item in page.subnav %}
          <div class="row">
            <div class="col-12">
              {% include_relative {{item.include}} %}
            </div>
          </div>
      {% endfor %}

    </div>
</div>
