{% if site.data.conf.karaoke-night.show %}
<section class="general-info social-event">
  <div class="col-12">
      <h2 id="karaoke-night">Karaoke Night</h2>
      <div class="social-event-details">
          <p><span class="font-weight-bold">When: </span>{{site.data.conf.karaoke-night.date | date: '%A, %B %-d, %Y'}}</p>
          <p>{{ site.data.conf.karaoke-night.description }}</p>

          {% if site.data.conf.karaoke-night.sign-up-url != '' %}
            <a class="btn ct-btn-light" target="blank" href="{{site.data.conf.karaoke-night.sign-up-url}}">{{site.data.conf.karaoke-night.sign-up-button-text}}</a>
          {% endif %}

          {% if site.data.conf.karaoke-night.event-url != '' %}
            <a class="btn ct-btn-light" target="blank" href="{{site.data.conf.karaoke-night.event-url}}"> {{site.data.conf.karaoke-night.event-url-button-text}}</a>
          {% endif %}
      </div>
  </div>
</section>
{% endif %}